<script id="template-main" type="text/handlebars">
    <header>
        <div>
            <i class="fa fa-globe"></i> Weather Station
        </div>
    </header>
    <main class="page-forecast">
        <h1>Weather Forecast</h1>
        <p>Enter a city name below in order to get the 10 day weather forecast for that location.</p>
        <div id="container-form"></div>
        <div id="container-results"></div>
    </main>

    <footer>
        <div>&copy; {{copyYear}} Scott Daniels</div>
    </footer>
</script>

<script id="template-form" type="text/handlebars">
    <form method="post" action="."{{#if isWorking}} disabled{{/if}}>
        <fieldset>
            <div class="input-group">
                <input type="text" name="place" class="form-control" placeholder="Enter city name. Example: Detroit, MI" aria-label="City Name" value="{{query}}"{{#if isWorking}} disabled{{/if}}>
                <span class="input-group-addon"><button type="submit" aria-label="search"{{#if isWorking}} disabled{{/if}}><i class="fa fa-search"></i></button></span>
            </div>
        </fieldset>
        {{#if error}}
        <div class="error">{{error}}</div>
        {{/if}}
    </form>
</script>

<script id="template-forecastResults" type="text/handlebars">
    <ol>
        {{#each day}}
        <li>
            <section class="card">
                <header>
                    <span>{{date.monthname}}, {{date.day}} {{date.year}}</span>
                    <div>{{#if @index}}{{date.weekday}}{{else}}Today{{/if}}</div>
                </header>
                <div class="container-weatherInfo">
                    <div><img src="{{icon_url}}" alt="{{conditions}}"></div>
                    <div><span class="txt-high">{{high.fahrenheit}}&#8457;</span> <span class="txt-low">{{low.fahrenheit}}&#8457;</span></div>
                </div>
            </section>
        </li>
        {{/each}}
    </ol>
</script>


